.big-div{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Logo{
    padding: 5px
}

.Navbar-Image{
    padding-right: 5px;
}

.Remote-Title{
    font-family: 'Epilogue', 'sans-serif';
    font-weight: bold;
    display: flex;
    font-size: 120px;
    margin-bottom: 60px;
}

.flavour-text{
    font-family: 'Epilogue', 'sans-serif';
    display: flex; 
    color: grey;
    font-size: 18px;
}

.Main-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.text-div{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 50%; 
    margin-left: 60px;
}

.image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 50%;
}

.sponsor-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.image-size{
    height: 125%;
    width: 50%;
    margin-top: 20px;
}

.Learn{
    margin-top: 50px;
    width:20%;
    height:20%;
}

.sponsor-image-size{
    width:15%;
    height: 10%;
    margin-right: 60px;
}

.desktop{
    display: flex;
}

.mobile{
    display: none;
}

@media (max-width: 900px) {
    .mobile {
        display: flex;
    }
    
    .desktop {
        display: none;
    }

    .Main-div{
        flex-direction: column;
        align-content: center;
    }

    .image-div{
        width: 100%;
    }

    .text-div{
        width: 100%;
        align-items: center;
        margin: 0px;
    }

    .image-size{
        width: 100%;
        height: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Remote-Title{
        font-family: 'Epilogue', 'sans-serif';
        font-weight: bold;
        display: flex;
        font-size: 50px;
        text-align: center;
    }

    .Learn{
        margin-top: 50px;
        width:50%;
        height:20%;
    }   
    
    .sponsor-image-size{
        width:15%;
        height: 10%;
        margin: 15px;
    }

    .sponsor-div{
        justify-content: space-evenly;
    }

    .flavour-text{
        margin-left: 5px;
    }

}